.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.point-details {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container-details-display {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
